.mat-form-field.half-width {
  width: 50%;
}
button {
  border: none;
  background: none;
}

.search-form {
  margin-top: 45px;
  padding: 3em;
  background: rgba(0,0,0,.01);
  border: .5px solid rgba(0,0,0,.2);
}
