<div class="container search-form">
  <h2 class="text-center">Search Github User</h2>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="text-center">
      <mat-form-field class="half-width">
        <mat-label>Nome Usuário</mat-label>
        <input matInput placeholder="benonisilva" [formControl]="form.get('search')">
      </mat-form-field>
      <button type="submit" mat-icon-button aria-label="botão Pesquisar usuário">
        <mat-icon color="primary">search</mat-icon>
      </button>
    </div>
  </form>
  <div class="user_found" *ngIf="searchResult$ | async as user">
    <mat-card class="example-card">
      <mat-card-header>
        <img  mat-card-avatar [src]="user.avatar_url" alt="Photo of a Shiba Inu">
        <mat-card-title>Nome: {{user.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/repositorios', user.login]" >REPOSOTORIOS</button>
        <button mat-button  [routerLink]="['/starred', user.login]" >STARRED</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
